{% extends "layout.html" %}
{% block title %}Companies{% endblock %}
{% block content%}
  

<div class="container">
  <h1 class="display-4">Index <small class="text-muted font-italic">companies</small></h1>
  <hr>
</div>
<div class="container mt-2">
  <form action="" method="POST" name="company_list">
    <div class="row">
      <div class="column mr-4">
        <a href="{{ url_for('company_add_page') }}" class="btn btn-primary" target="_self" title="Add Company">Add Company</a>
      </div>
    </div>
    {% if companies %}
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Information</th>
          <th>Mission</th>
          <th>Vision</th>
          <th>Abbrevation</th>
          <th>Founded Date</th>
          <th>Type</th>
          <th>Founder</th>
          <th>Contact</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {% for i in companies %}
        <tr>
          <td>{{ i['name'] }}</td>
          <td>{{ i['information'] }}</td>
          <td>{{ i['mission'] }}</td>
          <td>{{ i['vision'] }}</td>
          <td>{{ i['abbrevation'] }}</td>
          <td>{{ i['foundation_date'] }}</td>
          <td>{{ i['type'] }}</td>
          <td>
            <a href="{# url_for('user_details_page', user_key = i['user_id']) #}" class="btn btn-outline-success" target="_blank">Founder</a>
          </td>
          <td>
            <a href="{# url_for('contact_details_page', contact_key = contact_id) #}" class="btn btn-outline-info" target="_blank">Contact </a>
          </td>
          <td>
            <a href="{{ url_for('company_update_page', company_key = i['company_id']) }}" class="btn btn-warning" target="_blank">Update</a>
            <a href="{{ url_for('company_delete_page', company_key = i['company_id']) }}" class="btn btn-danger" target="_blank">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="column mr-4">
        <a href="{{ url_for('company_add_page') }}" class="btn btn-primary" target="_self" title="Add Company">Add Company</a>
      </div>
    </div>
  </form>
</div>
  {% endif %}
{% endblock %}
