{% extends 'layout.html' %}
{% block title %}Add Country{% endblock %}

{% block content %}
<h1 class="title">Add Country</h1>
<br>
    <form action="" method="post" name="country_add">
        <div class="field">
            <div class="control">
                
                Country Name:<input type="text" name="name" class="input" required="required" maxlength="30"> <br>
                Country Short Code:<input type="text" name="code" class="input" required="required" maxlength="2"> <br>
                <input type="radio" name="lane" value="left" class="input" checked> Left 
                <input type="radio" name="lane" value="right" class="input" > Right <br>
                Capital City:<input type="text" name="capital" class="input" maxlength="30"><br>
                Language(long)<input type="text" name="Llong" class="input" maxlength="20"><br>
                Language(short)<input type="text" name="Lshort" class="input" maLanguexlength="3"><br>
                Area<input type="text" name="area" min=0 class="input" placeholder="In metersquares"><br>
                GDP<input type="number" name="gpd"  min=0 step="0.01" class="input" placeholder="In Millions"><br>
                Population<input type="number" name="population" min=0 class="input"><br>
                Capital Coordinates: Longitude <input type="number" name="lon" min="-180" max="180" step="0.0000001"> Latitude <input type="number" name="lat" min="-90" max="90" step="0.0000001"><br>
                {% if tz %}
                <label for="sel1">Timezone</label>
                <select name="tz" class="form-control" id="sel1"> 
                    {% for time_id, time in tz %}
                    <option value ="{{ time_id }}">{{ time }}</option>
                    {% endfor %}
                </select>
                {% endif %}    
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary is-small">Save</button>
            </div>
          </div>
    </form>
{% endblock %}