{% extends "layout.html" %}
{% block title %}Country List{% endblock %}
{% block content %}
<h1 class="title">Countries</h1>

<div class="column mr-4">
	<a href="{{ url_for('country_add_page') }}" class="btn btn-primary" target="_self" title="Add">Add Entry</a>
</div>

{% if countries %}
	<form action="" method="post" name="country_list">
		<div class="column mr-4">
			<button class="button is-danger is-small">Delete</button> 
		</div>
		<table class="table is-striped is-fullwidth">
			{% for country_key, country_name in countries %}
			<tr>
				<td>
					<label class="checkbox">
						<input type="checkbox" name="country_keys" value=" {{ country_key }}">
					</label>
						<a href="{{ url_for('country_read_page', country_key=country_key) }}">
							{{ country_name }}
						</a>
						<a href="{{ url_for('country_update_page', country_key=country_key) }}">Update</a>
					
				</td>
			</tr>
			{% endfor %}
		</table>
	</form>
{% endif %}
{% endblock %}