{% extends "layout.html" %}
{% block title %} Card / Update {% endblock %}
{% block content %}

<div class="container">
  <h1 class="display-4">Update <small class="text-muted font-italic">card</small></h1>
  <hr>
  <form method="post" action="{{ request.path }}" >
    {{ form.csrf_token }}
    
    {% for field, msg in form.errors.items() %}
      {% for i in msg: %}
        {% if msg[i] %}
          {% for k in msg[i] %}
          <div class="alert alert-warning" role="alert">
            <strong>{{ k }}</strong>
          </div>  
          {% endfor %}
        {% else %}
          <div class="alert alert-warning" role="alert">
            <strong>{{ msg[0] }}</strong>
          </div>  
        {% endif%}
      {% endfor %}
    {% endfor %}
    <div class="mt-5 form-group">
      <label for="Username"><b>Update Username</b></label>
      {{ form.username }}
    </div>
    {{ form.card( class_ = " table table-hover") }}
    
    <div class="text-center">
      {{ form.submit }}
      <a href="{{ url_for('cards_page') }}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}