{% extends "layout.html" %}
{% block title %}Add Meal{%endblock%}
{%block content%}


<h1>Add a Meal</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Meal Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Brand Name">
        </div>
        <div class="col">
            <input type="number" min="1" step="1" class="form-control" placeholder="Price ( TL )" id="Price">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="form-group">
                <label for="meal_type_select">Type of the meal</label>
                <select multiple class="form-control" id="meal_type_select">
                    {% for type in meal_types%}
                    <option>{{type}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="VeganorNot" id="notvegan_check" value="notvegan_option" checked>
                <label class="form-check-label" for="notvegan_check">
                    Not Vegan
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="VeganorNot" id="vegan_check" value="vegan_option" >
                <label class="form-check-label" for="vegan_check">
                    Vegan
                </label>
            </div>
        </div>
    </div>
    <nav class="nav justify-content-center" style="margin-top: 20px;">
        <a class="btn btn-primary btn-lg active" href="#" role='button'>Add meal</a>
    </nav> 
</div>

{%endblock%}