{% extends "layout.html" %}
{% block title %}Add Meal{%endblock%}
{%block content%}


<h1>Add a Meal</h1>
<div class="container-fluid">
    <form action="", method="POST">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Meal Name" name="meal_name" value="{{food_props[0]}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Brand Name" name="brand_name" value="{{food_props[1]}}">
            </div>
            <div class="col">
                <input type="number" min="1" step="1" class="form-control" placeholder="Price ( TL )" id="Price" name="price" value="{{food_props[2]}}">
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col">
                <div class="form-group">
                    <label for="meal_type_select">Type of the meal</label>
                    <select class="form-control" id="meal_type_select" name="meal_option">
                        {% for type in meal_types%}
                            {% if type == food_props[4]%}
                            <option value="{{type}}" selected>{{type}}</option>
                            {%else%}
                            <option value="{{type}}">{{type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    {%if food_props[3] %}
                    <input class="form-check-input" type="radio" name="VeganorNot" id="notvegan_check" value="Not vegan">
                    {% else %}
                    <input class="form-check-input" type="radio" name="VeganorNot" id="notvegan_check" value="Not vegan" checked>
                    {% endif %}
                    <label class="form-check-label" for="notvegan_check">
                        Not Vegan
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    {%if food_props[3] %}
                    <input class="form-check-input" type="radio" name="VeganorNot" id="vegan_check" value="Vegan" checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="VeganorNot" id="vegan_check" value="Vegan" >
                    {% endif %}
                    <label class="form-check-label" for="vegan_check">
                        Vegan
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row-center">
                <h3>Nutritional Values</h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="calories" value="{{nutr_props[4]}}">
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Carbohydrates" name="carbohydrates" value="{{nutr_props[2]}}">
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Fats" name="fat" value="{{nutr_props[1]}}">
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Protein" name="protein" value="{{nutr_props[0]}}">
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Cholesterol" name="cholesterol" value="{{nutr_props[3]}}">
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row-center">
                <h3>Ingredients</h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <select class="form-control" id="meal_type_select" name="meal_option">
                            {% for type in meal_types%}
                                {% if type == food_props[4]%}
                                <option value="{{type}}" selected>{{type}}</option>
                                {%else%}
                                <option value="{{type}}">{{type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="asdsd" value="">
                </div>  
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="aww" value="">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <select class="form-control" id="meal_type_select" name="meal_option">
                            {% for type in meal_types%}
                                {% if type == food_props[4]%}
                                <option value="{{type}}" selected>{{type}}</option>
                                {%else%}
                                <option value="{{type}}">{{type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="a" value="">
                </div>  
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="aa" value="">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <select class="form-control" id="meal_type_select" name="meal_option">
                            {% for type in meal_types%}
                                {% if type == food_props[4]%}
                                <option value="{{type}}" selected>{{type}}</option>
                                {%else%}
                                <option value="{{type}}">{{type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="aaa" value="">
                </div>  
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="aaaa" value="">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <select class="form-control" id="meal_type_select" name="meal_option">
                            {% for type in meal_types%}
                                {% if type == food_props[4]%}
                                <option value="{{type}}" selected>{{type}}</option>
                                {%else%}
                                <option value="{{type}}">{{type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="aaaa" value="">
                </div>  
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Calories" name="as" value="">
                </div>
            </div>
        </div>
        <nav class="nav justify-content-center" style="margin-top: 20px;">
            <button style="margin-top: 20px;">Add Meal</button>
        </nav> 
    </form>
</div>

{%endblock%}