{% extends "layout.html" %}
{% block title %}Meals{%endblock%}
{%block content%}
<h1>
    Meals 
</h1>
<div class="container-fluid">
    
    <div class="col">
        <h2>Search</h2>
        <form action="" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Meal Name" name="searched_meal_name">
                </div>
            </div>
            <br>
            <div class="row">
                {% for meal in mealss %}
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="{{meal}}">
                        <label class="form-check-label" for="inlineCheckbox1">{{ meal }}</label>
                    </div>
                </div>
                {% endfor %}
                <div class="col">
                        <button style="margin-top: 20px;">Search Meal</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="col">
        <h2>Results</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Vegan / Not Vegan</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for food_id, food_name, brand_name, price, isVegan, type in f_table %}
                <tr>
                    <td><img src="../static/3746.png" class="rounded float-left" alt="Meal"></td>
                    <td>{{food_name}}</td>
                    <td>{{brand_name}}</td>
                    <td>{{price}}tl</td>
                    <td>{{type}}</td>
                    {% if isVegan %}
                    <td>Vegan</td> 
                    {% else %}
                    <td>Not Vegan</td>
                    {%endif%}   
                    <td>                            
                        <nav class="nav">
                            <a class="nav-link" href="{{url_for('food_value_page', food_id = food_id)}}">Food Values</a>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox1">Add to Cart</label>
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="{{food_name}}">
                                
                            </div>
                            {% if userType %}
                            <a class="nav-link text-success " href="{{url_for('update_meal_page', food_id = food_id)}}" >Update</a>
                            <a class="nav-link text-danger " href="{{url_for('delete_meal_page', food_id = food_id)}}" >Delete</a>
                            {% endif %}
                        </nav>                          
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>  
    {% if userType %}
    <nav class="nav justify-content-center">
        <div class="col-md">
            <a class="btn btn-primary btn-lg" href="/meals/add_meal" role='button'>Add a meal</a>
        </div>
        <div class="col-xs-1-12">
            <a class="btn btn-primary btn-lg" href="/ingredients/add" role='button'>Add a ingredient</a>
        </div>
        
    </nav>  
    {% endif %}
</div>

{%endblock%}