{% extends "layout.html" %}
{% block title %}Delete Item{%endblock%}
{%block content%}

<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <h2>Are you sure to delete restaurant part of company {{data[0][0]}} with manager {{data[0][1]}}</h2>
    </div>
    <nav class="nav justify-content">
        <form action="" method="post">
            <button type="submit" class="btn btn-success btn-lg" style="margin-right: 50px;">Yes</button>  
        </form>
        <a href="/restaurant" class="btn btn-danger btn-lg active" role="button" style>No</a> 
    </nav>
    

</div>

{%endblock%}