{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <ul class="list-group list-group-flush list-group-horizontal">
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('companies_page') }}">Companies</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('country_page') }}">Countries</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('tz_page') }}">Timezones</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('users_page') }}">Users</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('meal_page')}}">Meals</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg" href="{{ url_for('cards_page')}}">Cards</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="jumbotron">
        <h5>Welcome to Restaurant Management App!</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia nobis illum cupiditate, aspernatur quasi temporibus tempore praesentium corrupti ab mollitia veniam exercitationem quos commodi voluptatibus dignissimos quas dolorem, omnis eius?</p>
      </div>
    </div>
    
  </div>
    
{% endblock %}