{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div id="restmang-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome!</h5>
        <p>You are lucky because it is {{ day }}!</p>
      </div>
    </div>
  </div>
</div>

<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo suscipit, ab minima dolor libero? Perferendis architecto molestiae dolor unde esse. Quisquam dolor sit, voluptas quam id dolorem quas vero!</p>
      </div>
    </div>
  </main>
    
{% endblock %}