<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title> {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('home_page') }}">Rest Mang</a>
          <button class="navbar-toggler" data-target="#rest-mang" data-toggle="collapse" aria-controls="rest-mang" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="rest-mang" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home_page') }}">Home Page <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            {% if session["logged_in"] == True %}
            <form action="{{url_for('logout_page')}}" method="post" class="form-inline my-2 my-lg-0">
              <a href="{{ url_for('my_card_page') }}" class="btn btn-outline-info">My card</a>
              <a href="{{ url_for('my_orders_page') }}" class="btn btn-outline-dark">My orders</a>
              <a href="/users/profile" class="btn btn-outline-info">Profile: {{ session["username"] }}</a>
              <button type="submit" class="btn btn-outline-success mr-2">Logout</a>
            </form>
            {% else %}
            <form class="form-inline my-2 my-lg-0">
              <a href="/users/signin" class="btn btn-outline-success mr-2">Login</a>
              <a href="/users/create" class="btn btn-outline-info">Sign Up</a>
            </form>
          {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <section class="container-fluid mt-5 mb-5">
      {% block content %}{% endblock %}
    </section>
    <footer class="footer my-5">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h4>The Team</h4>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item bg-secondary">
                <a href="https://github.com/iberatkaya" class="text-white">İbrahim Berat Kaya</a> 
              </li>
              <li class="list-group-item bg-secondary">
                <a href="https://github.com/DemirUgur" class="text-white">Uğur Demir</a> 
              </li>
              <li class="list-group-item bg-secondary">
                <a href="https://github.com/metsey99" class="text-white">Metehan Seyran</a> 
              </li>
              <li class="list-group-item bg-secondary">
                <a href="https://github.com/mehmetcangun" class="text-white">Mehmet Can Gün</a> 
              </li>
            </ul>
            
          </div>
          <div class="col-4 text-right">
            <h4>Source Code</h4>
            <ul class="list-group list-group-horizontal float-right">
              <li class="list-group-item bg-secondary">
                <a href="https://github.com/itucsdb1951/itucsdb1951/" class="text-white">RestMang</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom Javascript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

  </body>
</html>