{% extends "layout.html" %}
{% block title %}Myorders{% endblock %}
{% block content%}
  

<div class="container">
  <h1 class="display-4">My <small class="text-muted font-italic">orders</small></h1>
  <hr>
</div>
<div class="container mt-2">
  <form action="{{ request.path }}" method="POST">
    {% if myorders %}
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
        </tr>
      </thead>
      <tbody>
        {% for i in myorders %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ i }}</td>
          <td>
            <a href="{{ url_for('order_details_page', order_key = i['order_id']) }}" class="btn btn-outline-info">Details </a>
            <a href="{{ url_for('order_update_page', order_key = i['order_id']) }}" class="btn btn-warning">Update</a>
            <a href="{{ url_for('order_cancel_page', order_key = i['order_id']) }}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
  {% endif %}
{% endblock %}
