{% extends 'layout.html' %}
{% block title %}Create A User{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Create User</h1>
  <form method="post" action="{{ request.path }}" enctype="multipart/form-data" >

    {{ form.csrf_token }}
      <div class="field">
        {{form.useraccount(class_="table") }}
        {{form.person(class_="table") }}
        {{form.contactinfo(class_="table") }}
        {{form.socialmedia(class_="table") }}
        {{form.photo(class_="table") }}
        {{form.submit()}}
        <select name="location">
          {% for item in locations %}
            <option value="{{item['location_id']}}">{{item["street"], item["neighborhood"], item["county"], item["province_name"], item["name"], item["zipcode"]}}</option>
          {% endfor %}
        </select>
      </div>
  </form>
  <script>
      $(document).ready(() => {
        let decodeHtmlEntity = function(x) {
          return x.replace(/&#(\d+);/g, function(match, dec) {
            return String.fromCharCode(dec);
          });
        };
        let obj = JSON.parse(decodeHtmlEntity("{{errors}}"));
        let str = '';
        for(let i in obj){
          for(let j in obj[i]){
            str += obj[i][j] + '\n';
          }
        }
        if(str != '')
          alert(str);
      });
    </script>  
</div>
{% endblock %}