{% extends 'layout.html' %}
{% block title %}Create A User{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Create User</h1>
  <form method="post" action="{{ request.path }}" enctype="multipart/form-data" >

    {{ form.csrf_token }}
      <div class="field">
        {{form.useraccount(class_="table") }}
        {{form.person(class_="table") }}
        {{form.contactinfo(class_="table") }}
        {{form.socialmedia(class_="table") }}
        {{form.photo(class_="table") }}
        {{form.submit()}}
      </div>
  </form>
</div>
{% endblock %}