{% extends 'layout.html' %}
{% block title %}Edit Contact Info{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Edit Contact Info</h1>
  <form method="post" action="{{ request.path }}" >

    {{ form.csrf_token }}
      <div class="field">
        {{form.contactinfo(class_="table") }}
        {{form.submit()}}
      </div>
  </form>
  <script>
      $(document).ready(() => {
        let decodeHtmlEntity = function(x) {
          return x.replace(/&#(\d+);/g, function(match, dec) {
            return String.fromCharCode(dec);
          });
        };
        let obj = JSON.parse(decodeHtmlEntity("{{errors}}"));
        let str = '';
        for(let i in obj){
          for(let j in obj[i]){
            str += obj[i][j] + '\n';
          }
        }
        alert(str);
      });
    </script>  
</div>
{% endblock %}