{% extends 'layout.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<script>
    $(document).ready(() => {
        if ("{{alert}}" == "true") {
            alert("User doesn't exist");
        }
    });
</script>
<form id="form" class="container-fluid w-75" action="" method="post" name="{{url_for('add_user_page')}}">
    <h1 class="text-center">Login</h1>
    <div class="field-group">
        <label style="font-weight: bold; margin-top: 0.75rem;" for="username" class="label">Username</label>
        <input type="text" name="username" class="form-control" required="required" />
        <label style="font-weight: bold; margin-top: 0.75rem;" for="password" class="label">Password</label>
        <input type="password" name="password" class="form-control" required="required" />
    </div>
    <div id="buttondiv" class="field is-grouped text-center" style="margin-top: 1rem;">
        <div class="control">
            <button id="button" class="btn btn-outline-info">Sign in</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(() => {
        $("#form").submit(() => {
            $("#buttondiv").html("<div class='spinner-border' role = 'status'></div> ")
        })
    });
</script>
{% endblock %}