{% extends 'layout.html' %}
{% block title %}Users{% endblock %}

{% block content %}
<ul class="list-group">
    {% for item in users %}
        <li class="list-group-item">Name: {{item["name"]}} - Surname: {{item["surname"]}} - Birthday: {{item["birthday"]}} - Education: {{item["educationlevel"]}} - Gender: {{item["gender"]}} - Joined Date: {{item["joineddate"]}}<br/>Username: {{item["username"]}} - Password: {{item["password"]}} - Last Entry: {{item["lastentry"]}} - Security Answer: {{item["securityanswer"]}} - Membership: {{item["membershiptype"]}}<br/>Facebook: {{item["facebook"]}} - Twitter: {{item["twitter"]}} - Instagram: {{item["instagram"]}}<br/>Discord: {{item["discord"]}} - Youtube: {{item["youtube"]}} - Google+: {{item["googleplus"]}}<br/>Phone Number: {{item["phonenumber"]}} - Email: {{item["email"]}} - Fax: {{item["fax"]}} - Home Phone: {{item["homephone"]}} - Work Mail: {{item["workmail"]}} Photo: <img src="{{item['path']}}" alt="User Image" width="200" height="200"></li>
    {% endfor %}
</ul>
{% endblock %}