{% extends 'layout.html' %}
{% block title %}Users{% endblock %}

{% block content %}
{% if session["logged_in"] == True %}
    <p>Hi {{ session["username"] }}!</p>
{% else  %}
    <p>No user found!</p>
{% endif %}
<p1>Display Users</p1>
<a href="/users/create" >Create a user</a>
<ul class="list-group">
    {% for item in users %}
    <li class="list-group-item">Name: {{item[3]}} - Surname: {{item[4]}} - Birthday: {{item[5]}} - Education: {{item[6]}} - Gender: {{item[7]}}<br/> Joined Date: {{item[11]}} - Username: {{item[12]}} - Password: {{item[13]}} - Last Entry: {{item[14]}} - Security Answer: {{item[15]}} - Membership: {{item[17]}}</li>
    {% endfor %}
</ul>
{% endblock %}