{% extends "layout.html" %}
{% block title %}Province Details{% endblock %}
{% block content %}
<div class="column mr-4">
	<a href="{{ url_for('province_add_page') }}" class="btn btn-primary" target="_self" title="Add">Add Entry</a>
</div>
<br>
{% if list %}
<div class="container-fluid"></div>
<table class="table table-striped">
    <thead>
        <tr>
            {% for key in list %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for key, value in list.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            <td>
            <nav class="nav">
                    <a class="nav-link text-success " href="{{ url_for('province_update_page', province_key=list['province_id']) }}" >Update</a>
                    <a class="nav-link text-danger " href="{{ url_for('province_delete_page', province_key=list['province_id']) }}" >Delete</a>
            </nav>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}

{% endblock %}